.app-button {
  background-color: #3b82f6;
  color: white;
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.app-button:hover:not(:disabled) {
  background-color: #2563eb;
}

.app-button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

.free-btn {
  margin-top: 20px;
  background-color: rgb(41, 208, 238);
  padding: 2rem 3rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
  box-shadow: 0 10px 15px -3px rgba(59, 130, 246, 0.2),
    0 4px 6px -4px rgba(59, 130, 246, 0.2);
  transition: all 0.2s ease-in-out;
}

.free-btn:hover {
  background-color: rgba(59, 130, 246, 0.9);
  box-shadow: 0 20px 25px -5px rgba(59, 130, 246, 0.3),
    0 8px 10px -6px rgba(59, 130, 246, 0.3);
  transform: scale(1.05);
}

.log-in-sign-up-btn {
  margin-top: 20px;
  background-color: rgb(41, 208, 238);
  padding: 15px;
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
  box-shadow: 0 10px 15px -3px rgba(59, 130, 246, 0.2),
    0 4px 6px -4px rgba(59, 130, 246, 0.2);
  transition: all 0.2s ease-in-out;
}

.log-in-sign-up-btn:hover {
  background-color: rgba(59, 130, 246, 0.9);
  box-shadow: 0 20px 25px -5px rgba(59, 130, 246, 0.3),
    0 8px 10px -6px rgba(59, 130, 246, 0.3);
  transform: scale(1.05);
}

/* Navigation */

.nav-container {
  padding: 10px 200px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(41, 208, 238);
}

.nav-container h1 {
  color: white;
}

.nav-container h1 a {
  all: unset; /* removes default button styles */
  cursor: pointer;
  color: white;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-links a,
.nav-links button {
  all: unset; /* removes default button styles */
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
}

.nav-links a:hover,
.nav-links button:hover {
  text-decoration: underline;
  background-color: transparent;
}

.home-card {
  width: 300px;
  height: 220px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.562);
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.home-card svg {
  width: 70px;
  height: 70px;
}

.home-card h3 {
  color: white;
  font-size: 25px;
}

.home-card p {
  color: gray;
  font-size: 19px;
}
