/* Reset browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full height & width root */
html,
body {
  width: 100%;
  height: 100%;
  background-color: #01050c;
}

/* React root */
#root {
  width: 100%;
  min-height: 100%;
}

.dumbbell-div {
  padding: 24px;
  background-color: rgba(59, 130, 246, 0.2);
  border-radius: 16px;
  border: 2px solid rgb(41, 208, 238);
  backdrop-filter: blur(4px);
}

.dumbbell {
  width: 12rem;
  height: 12rem;
}

.icon-primary {
  color: rgb(41, 208, 238);
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: Arial, sans-serif;
  width: 100%;
}

.app-container h1 {
  margin: 20px 0;
  font-size: 60px;
  color: white;
}

.app-container h2 {
  font-size: 22px;
  width: 100%;
  color: white;
  text-align: center;
}

/* bg-animation */

.bg-wrapper {
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  overflow: hidden;
  pointer-events: none;
}

.glow {
  position: absolute;
  border-radius: 9999px; /* full circle */
  filter: blur(64px); /* blur-3xl ≈ 64px */
  animation: pulse 4s ease-in-out infinite;
}

.glow-1 {
  top: 25%;
  left: 25%;
  width: 256px;
  height: 256px;
  background: rgba(59, 130, 246, 0.1); /* primary / 10% */
}

.glow-2 {
  bottom: 33%;
  right: 25%;
  width: 384px;
  height: 384px;
  background: rgba(59, 130, 246, 0.05); /* primary / 5% */
  animation-delay: 1s;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* Card-Home */
.homecard-container {
  display: flex;
  flex-direction: row;
  gap: 26px;
  justify-content: center;
  margin-top: 40px;
  position: relative; /* needed for line positioning */
}

.section {
  max-width: 500px;
  width: 100%;
  padding: 1.5rem;
  margin-top: 70px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: rgba(0, 0, 0, 0.562);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
}

/* Buttons */
button {
  background-color: #3b82f6;
  color: white;
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

button:hover {
  background-color: red;
}

button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

/* Inputs */
input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  font-size: 1rem;
}

.text {
  color: white;
}

.section-results p {
  color: white;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

@media screen and (max-width: 968px) {
  .homecard-container {
    flex-direction: column;
    align-items: center;
  }
}
